body{
    font-family: 'Eczar', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 45px;
}
.border{
    border-left: 10px solid;
    border-radius: 10px;
    padding-left: 5px;
    border-color: #FFB400;
}
p{
    font-size: 20px;
}
.color{
    color: #1D3557;
}
span{
    color: #3FB682;
}
.flexible-container{
    display: flex;
    padding-bottom: 10px;
}
.flexible-container .one{
    background-color: #EDF5F6;
}
.flexible-container .two{
    background-color: #FFEEEE;
}
.flexible-container .three{
    background-color: #FFF4D6;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    width: 80%;
    border-radius: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,yellow);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}
.goals-item{
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 30px;
    box-shadow: 20px 10px 40px #EDF5F6;
    border-radius: 10px;
}
.goals-item img{
    width: 50px;
}
.third-part{
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-position: right;
}
.fourth-part{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 12%;
}
.fifth-part{
    display: flex;
    padding-bottom: 40px;
}
.fifth-sec-item-one{
    margin-left: 30%;
}
.contact{
    width: 20%;
}
.contact-box{
    background-color: #fff;
    box-shadow: 0px 0px 18px 5px #c5c5c5;
    padding: 100px 40px;
}
.field{
    width: 100%;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 15px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 40px;
    background-image: linear-gradient(#c2e59c, #64b3f4);
    border-radius: 5px;
    border: none;
}
footer{
    background-color: black;
    text-align: center;
    color: #ffff;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}